.newArrivals {
    height: 1650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.newArrivalsProducts {
    width: 100%;

    margin: 0 auto;
    padding: 0 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 80px;
    justify-items: center;
    align-items: center;

    transition: none;
    text-decoration: none;
    list-style: none;
    margin-bottom: 160px;
    
}

.h2_pr {
    margin-left: 8%;
    height: 300px;
    margin-bottom: 40px;
    font-size: 2em;
    width: 210px;
    cursor: pointer;
    background-image:
        linear-gradient(to bottom,
            transparent 0%,
            transparent 90%,
            #FFCC67 90%,
            #FFCC67 100%);

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size 500ms;
}

.h2_pr:hover {
    background-size: 100% 100%;
    background-position-x: left;
}
