.womanProducts {
	padding: 0 8%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 5rem;
	justify-content: center;
	transition: none;
	text-decoration: none;
	list-style: none;
	margin-bottom: 160px;
	min-height: 55svh;
}

.woman {
	margin-top: 90px;
	overflow-x: hidden;
}

.h2_woman {
	width: 100svw;
	text-align: center;
	margin-top: 20px;
	font-size: 32px;
	font-weight: normal;
}

@media only screen and (max-width: 480px) {
	.womanProducts {
		padding: 0;
		justify-items: center;
		grid-template-columns: 1fr 1fr;
		margin: 0;
		grid-gap: 1rem;
		height: calc(100lvh + 80px);
	}
}
