/* .selector{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 20px; 
}

.selector_input{
    width: 30px;
    height: 20px;
    margin: 3px 10px;
    text-align: center;
    border-radius: none; 
}


.btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
} */
