@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return{
    position: fixed;
    right: 40px;
    bottom: 36px;
    box-shadow: 3px 4px 9px rgb(81, 80, 80);
    border-radius: 50%;
}


