.mainInfo {
    height: 650px;
    display: flex;
    width: 100%;
    
}

.mainInfo_left_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.mainInfo_left_box {
    display: flex;
    
    justify-content: center;
    flex-direction: row;
    height: 500px;
    width: 800px;

    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    
}

.checkout_div_btn {
    position: absolute;
    right: 70px;
    bottom: 60px;
}

.checkout_div_btn_return{
    position: absolute;
    left: 70px;
    bottom: 60px;
}

.checkout_btn_submit {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    cursor: pointer;
}

.checkout_btn_submit:hover {
    letter-spacing: 3px;
    background-color: rgb(121, 2, 121);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(121, 2, 121) 0px 7px 29px 0px;
}

.checkout_btn_submit:active {
    letter-spacing: 3px;
    background-color: rgb(121, 2, 121);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(121, 2, 121) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/* Test */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.withText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirm_animation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    animation: sucAnim 1.5s ease-in;
}

.confirm_animationText{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 160px;
    animation: sucAnim 1.5s ease-in;
}

@keyframes sucAnim {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}