.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    background:rgb(218, 212, 212) 100%;
    min-width:2000px;
    padding: 10px 8%;
    box-shadow: 1px 2px 10px rgb(97, 97, 97);
}

.logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-weight: 500;
}

.navList {
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    transition: font-size 500ms;
    color: black;
}

.navList:hover {
    color: #CD3333;
    font-size: 22px;
}

.navIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add activ */
.cartIcon.active,
.accountIcon.active {
    color: #9f1e1e;
    transform: scale(1.4);

}

.window_account {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 35px;
    width: 120px;
    min-height: 100px;
    background: rgba(102, 100, 100, 0.71);
    -webkit-box-shadow: 4px 6px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 6px 22px -6px rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.window_account a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.log_in {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

/* //// */

.navCartLabel {
    background-color: red;
    color: white;
    border-radius: 50%;

    /*object-fit - tut mi opredelayem kak 2 budet zapolnat container */

    object-fit: cover;
    width: 12px;
    height: 12px;
    font-size: 8px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.navSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: aliceblue;
    height: 40px;
    cursor: pointer;
    /* position: relative; */
}

.navSearchIcon {
    font-size: 25px;
    margin-left: 10px;
    color: #858585;
}

.navSearchInput {
    border: none;
    outline: none;

    /* background-color: transparent - etim method mi udalayem zadni color */

    background-color: transparent;
}

/* Filter */

/* .fillter {
  display: flex; 
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.div_fillter {
  width: 25%;
  padding: 10px;
  box-sizing: border-box; 
}

.fillter_photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.fillter_photo_name {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
} */

@media (max-width: 768px) {
  .div_fillter {
    width: 50%; 
  }
}

@media (max-width: 480px) {
  .div_fillter {
    width: 100%;
  }
}

.fillter {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 275px;

    background-color: white;
    max-width: 203px;
    z-index: 1;
    max-height: 500px;
    overflow-y: auto;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}

.fillter::-webkit-scrollbar{
    width: 10px;
}

.fillter::-webkit-scrollbar-thumb{
    background: #CD3333;
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fillter::-webkit-scrollbar-track {
    background-color: transparent;

}

.div_fillter{
    /* padding-bottom: 10px; */
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px;
    margin: 5px;
}

.div_fillter:hover{
    background-color: #CD3333;
    cursor: pointer;
}

.link_fillter{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: black;
}

.fillter_photo{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.fillter_photo_name{
    padding-left: 10px;
    text-decoration: none;
}