.right {
	height: 800px;
	min-width: 50svw;
	padding: 0 8%;
	overflow-x: hidden;
}

.right_top {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	position: relative;
}

.right_top_img {
	width: 400px;
	height: 345px;
	margin-top: 60px;
}

.right_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 70px;
}

.right_bottom_box {
	width: 180px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	background-color: #e1caff;
	border-radius: 10px;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.right_bottom_img {
	width: 140px;
}

.right_bottom_img:hover {
	cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 1024px) {
	.right {
		height: 500px;
	}

	.right_top_img {
		width: 300px;
		height: 245px;
		margin-top: 0;
	}

	.right_bottom {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 40px;
		margin-right: 10px;
	}

	.right_bottom_box {
		width: 130px;
		height: 100px;
		display: flex;
		justify-items: space-around;
		align-items: center;
		margin-left: 10px;
		background-color: #6409db;
		border-radius: 10px;

		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	}
	.right_bottom_img {
		width: 100px;
		margin-top: 0;
	}
}
