.footer {
    height: 470px;
    height: 100%;
    padding: 0 8%;
    box-sizing: border-box;

    background-color: rgb(121, 2, 121);
    color: white;

}

.footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
}


.footer_logo {
    display: flex;
    justify-content: center;
    align-self: flex-start;

    cursor: pointer;
    height: 150px;
    text-align: center;
    font-size: 24px;
}

.products,
.getHelp,
.contact {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.footer_a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-top: 20px;

}

.footer_number {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}

p {
    opacity: 0.7;
}

h5 {
    margin-bottom: 30px;
}

hr {
    margin-top: 30px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
