*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background:rgb(218, 212, 212) 100% ;
    /* background: rgb(230, 208, 208); */
    /* background: rgb(224, 185, 153); */

    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: #CD3333;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-track {
    background:rgb(158, 151, 151) 100%;
}


/* body[data-aos-duration='4000'] [data-aos], [data-aos][data-aos][data-aos-duration='4000']{
    transition-duration: 4000ms;
} */
