.left {
	padding: 0 8%;
	min-height: 50svh;
	min-width: 50%;
}

.left__h1 {
	font-size: clamp(35px, 4vw, 60px);
}

.left_text_p__2 {
	line-height: 1.5;
	font-weight: 700;
	font-size: clamp(1.3rem, 2vw, 1.4rem);
}

.left_text_p__3 {
	margin-top: 40px;
	line-height: 1.5;
	font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.left_btn {
	background-color: #cd3333;
	color: white;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 18px;
	border: none;
	margin-top: 40px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 10px;
}

.left_btn_icon {
	font-size: 20px;
	margin-left: 5px;
	position: relative;
	top: 5px;
}

.left_btn:hover .left_btn_icon {
	display: none;
}
