.modal_windows {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;

    opacity: 0;
    transition: 0.5s;
}

.modal_windows.active {
    opacity: 1;
}

.modal_windows_page {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;

    height: 700px;
    width: 90%;
    padding-top: 30px;

    transform: scale(0.5);
    opacity: 1;
}

.btn_close {
    height: 20px;
    width: 0;
    position: relative;
    bottom: 30px;
    right: 45px;
    z-index: 1000;
    border-radius: 2px solid black;
}

.modal_windows_content_left {
    height: 100%;
    width: 65%;
}

.modal_windows_img_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.kingImg {
    width: 400px;
    height: 370px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal_windows_img_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.imgAll {
    width: 220px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left: 20px;
    border-radius: 10px;
    opacity: 0.7;
    transform: scale(1);
    transition: 0.5s;
}

.imgAll:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.1);

}

.modal_windows_content_right {
    width: 35%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal_windows_content_right_info {
    background-color: #FFCC67;
    /* background-color: rgb(121, 2, 121); */
    /* color: white; */
    height: 90%;
    width: 90%;
    margin-top: 45px;
    margin-right: 20px;


    font-size: 20px;
    border-radius: 10px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */

    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: center; */
    padding-left: 20px;
}

.modal_windows_page.active {
    transform: scale(1);
}

.h1_name_pageProduct {
    padding-top: 15px;
    width: 400px;
    text-align: center;
    font-size: 36px;
    color: black;
    font-weight: 600;
    margin: 0 auto;
}

del {
    color: red;
    padding-left: 10px;

}

.p_descrip {
    height: 50%;
    font-size: 14px;
    width: 80%;
    margin-left: 54px;
}

.btn_focus {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(121, 2, 121);

    color: white;

    position: relative;
    transition: width .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn_focus * {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity .4s;

}

.add_icon {
    opacity: 0;
}

.heart_icon {
    opacity: 0;
}

.btn_focus:focus {
    width: 40px;
    border-radius: 50%;
}

.add:focus {
    background-color: #00D008;
    border: white solid 1px;

}

.heart:focus {
    background-color: #CD3333;
    border: white solid 1px;
}

.btn_focus:focus .textAdd,
.btn_focus:focus .textHeart {
    opacity: 0;
}

.btn_focus:focus .add_icon,
.btn_focus:focus .heart_icon {
    opacity: 1;
    color: white;
    font-size: 20px;
    font-weight: 700;
    top: 18px;

}

.btn_focus:focus .heart_icon {
    font-size: 30px;
}